<poke-search />

<div class="home-container">
    <div class="pokemon-list">

        <!-- <div class="pokemon-list-sort-by">
            <select class="form-select">
                <option select>numb ascending</option>
                <option value="1">numb descend</option>
                <option value="2">name ascending</option>
                <option value="3">name descend</option>
            </select>
        </div> -->

        <div class="pokemon-list-filter">
            <div class="pokemon-list-filter-box">
                <img src="./assets/icons/eye.png">
                <select class="form-select">
                    <option selected>Type</option>
                </select>
            </div>

            <div class="pokemon-list-filter-box">
                <img src="./assets/icons/eye.png">
                <select class="form-select">
                    <option selected>Type</option>
                </select>
            </div>
        </div>

        <div 
            class="pokemon-list-container"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000"
            [scrollWindow]="true"
            [infiniteScrollDisabled]="!(hasNext$ | async) || !(loaded$ | async)"
            (scrolled)="onScroll()"
        >
            <poke-card
                *ngFor="let pokemon of pokemonList"
                [cardData]="pokemon"
                (selectedCard)="selectPokemon($event)"
            />
        </div>

    </div>
    <app-card-info [pokemonSelected]="pokemonSelected" [totalStats]="totalStats"/>
    
</div>

