<poke-search />

<div class="home-container">
    <div class="pokemon-list">

        <div class="pokemon-list-filter">
            <div>
                <div class="pokemon-list-filter-title">Type</div>
                <div class="pokemon-list-filter-box">
                    <img src="./assets/icons/eye.png">
                    <select class="form-select" (change)="filterByType($event)">
                        <option default value="">all</option>
                        <option *ngFor="let type of pokemonTypes" [value]="type">{{type}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div 
            class="pokemon-list-container"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000"
            [scrollWindow]="true"
            [infiniteScrollDisabled]="!(hasNext$ | async) || !(loaded$ | async) || (isFilteredList$ | async)"
            (scrolled)="onScroll()"
        >
            <poke-card
                *ngFor="let pokemon of pokemonList"
                [cardData]="pokemon"
                (selectedCard)="selectPokemon($event)"
            />
        </div>

        <app-loader *ngIf="!(loaded$ | async)" [isPageLoader]="(isFilteredList$ | async)" />

    </div>
    <app-card-info
        *ngIf="!isMobile"
        [pokemonSelected]="pokemonSelected"
        [totalStats]="totalStats"
    />
    
</div>

<poke-modal #pokeModal>
    <app-card-info
        [pokemonSelected]="pokemonSelected"
        [totalStats]="totalStats"
    />
</poke-modal>